.message-request-modal {
  background-color: #f0f4f8;
  border-radius: 10px;
  padding: 20px;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(3px);
}

.message-request-content {
  background: #ffffff;
  border-radius: 10px;
  padding: 10px 20px 20px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
}

.message-request-header {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-request-close-button {
  background: transparent;
  border: none;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s;
  border-radius: 50%;
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.message-request-box {
  width: 100%;
  height: 400px;
  overflow-y: auto;
  background: #f1f1f1;
  border-radius: 5px;
  border: 1px solid #e6ebf7;
  margin-top: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
}

.message-request-item {
  width: 100%;
  padding: 10px;
  background: #ffffff;
  min-height: 70px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 5px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0);
  padding: 0px 15px;
  transition: all 0.3s;
  &:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
  }
}

.message-request-avatar {
  background: #2f7eff;
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  width: 48px;
  height: 48px;
  font-weight: 500;
  margin-right: 12px;
  letter-spacing: 1px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.07); /* shadow-soft approximation */
  text-transform: uppercase;
}

.message-request-info {
  display: flex;
  flex-direction: column;
  width: calc(100% - 250px);
}

.message-request-name {
  font-size: 18px;
  font-weight: 500;
  color: #333333;
  margin: 0;
  padding: 0;
  height: 20px;
  display: flex;
  align-items: center;
}
.message-request-status {
  font-size: 14px;
  color: #999999;
  margin: 0;
  padding: 0;
  height: 20px;
  display: flex;
  align-items: center;
}

.message-request-btn-group {
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 10px;
}
