.login-signin-component {
  color: rgba(0, 0, 0);
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-signin-card {
  width: min(30%, 500px);
  height: fit-content;
  background: #fff;
  border-radius: 10px;
  padding: 30px 25px;
  box-shadow: 0px 5px 20px rgba(48, 124, 255, 0.3);
  display: flex;
  align-items: center;
  flex-direction: column;
  animation: login-signin-card 1s ease-in-out infinite alternate;
}

@keyframes login-signin-card {
  0% {
    /* transform: translateY(-2px); */
    box-shadow: 0px 5px 20px rgba(48, 124, 255, 0.3);
  }

  100% {
    /* transform: translateY(2px); */
    box-shadow: 0px 10px 40px rgba(48, 124, 255, 0.5);
  }
}

.login-signin-logo {
  width: fit-content;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  height: 60px;
  border-radius: 50px;
  background: #2f7eff;
  color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.login-signin-text {
  font-size: 24px;
}

.form {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-signin-btn {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 50px;
  border: none;
  background: #2f7eff;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-signin-footer {
  width: 100%;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-signin-footer-text {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.login-signin-link {
  color: #2f7eff;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s ease;
}

.login-signin-link:hover {
  text-decoration: underline;
}

.forgot-password {
  font-size: 12px;
  color: #2f7eff;
  cursor: pointer;
  text-align: end;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: -15px;
  padding: 5px;
  letter-spacing: 0.5px;
}

.password-eye-icon {
  position: absolute;
  right: 10px;
  top: 40%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #2f7eff;
  transition: color 0.3s ease;
}
