* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #f2f5fa;
  color: rgba(0, 0, 0);
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.app {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  /* font-family: "Roboto", sans-serif; */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.input-box {
  width: 100%;
  position: relative;
  margin-bottom: 8px;
  padding-bottom: 15px;
}
.input-box label {
  font-size: 14px;
  font-weight: 600;
  color: #307cff;
  position: absolute;
  top: 9px;
  left: 10px;
}

.input-box input {
  width: 100%;
  font-size: 14px;
  padding: 10px 15px;
  padding-left: 40px;
  border-radius: 10px;
  border: 1px solid #307cff5b;
  background-color: #fafbfc;
  outline: none;
}
.input-box input:focus {
  border: 1px solid #307cffaa;
}

.input-box .error {
  font-size: 12px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 0px;
  left: 5px;
}

.chat-scroll::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}
